@import "~react-toolbox/lib/commons";

.button-input-group {
  position: relative;

  .input-button {
    position: absolute;
    right: 0;
    top: 19px;
  }
}

.search {
  display: inline-block;
  position: relative;
  width: 100%;
  .search-btn {
    position: absolute;
    top: 18px;
    right: 0;
  }
}
