@import "~react-toolbox/lib/commons";

.dropzone {
  border: 1px dashed #aaa;
  width: 200px;
  padding: 10px;
  height: 200px;
  img {
    max-width: 100%;
  }
}

.intro {
  textarea {
    height: 108px;
  }
}

.section {
    width: 600px;
}
