@import "~react-toolbox/lib/commons";

.dropzone {
  width: 100%;
  height: 64px;
  position: relative;
  .avatar {
    position: absolute;
    right: -18px;
    top: 0;
    width: 64px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .caption {
    position: absolute;
    top: 20px;
  }
}

.legend {
  position: absolute;
  right: 4.8*$unit;
  top: 1.1*$unit;
}
